
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Oo]ut/
build/
Build/
*.[Pp]db
*.dll
*.exe


[Tt]emp/
[Tt]mp/
*.log




*.vspscc
*.vssscc
*.suo
*.user
*.userossc
*.sln.docstates

*.ncb
*.workspace
*.ide

*/_vti_cnf

[Pp]ackages/

*.nupkg
packages.lock.json


Thumbs.db
Desktop.ini
.DS_Store
*.dotSettings
*.DotSettings.user
.vscode/
**/publish/
**/tmp/